

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-9 animated fadeInRight">
        <h2>Error You are not Authorized to view this content</h2>
        </div>
    </div>
</div>